@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: "Poppins", sans-serif;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  gap: 25px;   /* controls spacing cleanly */
}

body {
    margin: auto;
    overflow: auto;
    background: rgb(35, 29, 90);
background: radial-gradient(circle, rgb(31, 25, 85) 0%, rgb(58, 9, 121) 35%, rgb(39, 19, 151) 59%,  rgb(60, 44, 202) 72%, rgba(50,210,244,1) 100%);
    animation: gradient 25s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

